<h1>ACTIVITY 1 - PALMER PENGUIN DATA ANALYTICS PROJECT</h1>

<h1>Alyssa Sophia Ramos</h1>

In [2]:
#libraries

In [3]:
import numpy as np 
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

<h3>Requirements</h3>
<ul>
    <li>File path</li>
</ul>

In [4]:
penguin = pd.read_csv('datasets\\penguins.csv')

In [5]:
penguin

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

<hr>
<h2>DESCRIBE ANALYTICS</h2
                          >

In [6]:
penguin.describe()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,342.000000,342.000000,342.000000,342.000000,344.000000
mean,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,5.459584,1.974793,14.061714,801.954536,0.818356
min,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,39.225000,15.600000,190.000000,3550.000000,2007.000000
50%,44.450000,17.300000,197.000000,4050.000000,2008.000000
75%,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,59.600000,21.500000,231.000000,6300.000000,2009.000000

<h2>FILTERING COLUMN/DATA</h2>

In [7]:
penguin.describe(include='all')

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
count,344,344,342.000000,342.000000,342.000000,342.000000,333,344.000000
unique,3,3,NaN,NaN,NaN,NaN,2,NaN
top,Adelie,Biscoe,NaN,NaN,NaN,NaN,male,NaN
freq,152,168,NaN,NaN,NaN,NaN,168,NaN
mean,NaN,NaN,43.921930,17.151170,200.915205,4201.754386,NaN,2008.029070
std,NaN,NaN,5.459584,1.974793,14.061714,801.954536,NaN,0.818356
min,NaN,NaN,32.100000,13.100000,172.000000,2700.000000,NaN,2007.000000
25%,NaN,NaN,39.225000,15.600000,190.000000,3550.000000,NaN,2007.000000
50%,NaN,NaN,44.450000,17.300000,197.000000,4050.000000,NaN,2008.000000
75%,NaN,NaN,48.500000,18.700000,213.000000,4750.000000,NaN,2009.000000
max,NaN,NaN,59.600000,21.500000,231.000000,6300.000000,NaN,2009.000000

<h2>.T function is used to flip the Dataframe</h2>

In [8]:
penguin.describe().T

,count,mean,std,min,25%,50%,75%,max
bill_length_mm,342.0,43.921930,5.459584,32.1,39.225,44.45,48.5,59.6
bill_depth_mm,342.0,17.151170,1.974793,13.1,15.600,17.30,18.7,21.5
flipper_length_mm,342.0,200.915205,14.061714,172.0,190.000,197.00,213.0,231.0
body_mass_g,342.0,4201.754386,801.954536,2700.0,3550.000,4050.00,4750.0,6300.0
year,344.0,2008.029070,0.818356,2007.0,2007.000,2008.00,2009.0,2009.0

<h2>.head() function is used to generate data from first to last</h2>

In [9]:
penguin.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007

In [10]:
penguin.head(20)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,male,2007
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,female,2007
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,male,2007
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN,2007
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN,2007
10,Adelie,Torgersen,37.8,17.1,186.0,3300.0,NaN,2007
11,Adelie,Torgersen,37.8,17.3,180.0,3700.0,NaN,2007
12,Adelie,Torgersen,41.1,17.6,182.0,3200.0,female,2007
13,Adelie,Torgersen,38.6,21.2,191.0,3800.0,male,2007
14,Adelie,Torgersen,34.6,21.1,198.0,4400.0,male,2007
15,Adelie,Torgersen,36.6,17.8,185.0,3700.0,female,2007
16,Adelie,Torgersen,38.7,19.0,195.0,3450.0,female,2007
17,Adelie,Torgersen,42.5,20.7,197.0,4500.0,male,2007
18,Adelie,Torgersen,34.4,18.4,184.0,3325.0,female,2007
19,Adelie,Torgersen,46.0,21.5,194.0,4200.0,male,2007

<h2>.tail() function is used to generate data from last to first</h2>

In [11]:
penguin.tail()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [12]:
sml = penguin.groupby(['species', 'island']).size()

In [13]:
sml

species    island
Adelie     Biscoe        44
           Dream         56
           Torgersen     52
Chinstrap  Dream         68
Gentoo     Biscoe       124
dtype: int64

<h1>CLEAR NULL VALUES</h1>

In [30]:
penguin.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [34]:
penguin['sex'] = penguin['sex'].fillna(penguin['sex'].mode()[0])
penguin['bill_length_mm'] = penguin['bill_length_mm'].fillna(penguin['bill_length_mm'].mode()[0])
penguin['bill_depth_mm'] = penguin['bill_depth_mm'].fillna(penguin['bill_depth_mm'].mode()[0])
penguin['flipper_length_mm'] = penguin['flipper_length_mm'].fillna(penguin['flipper_length_mm'].mode()[0])
penguin['body_mass_g'] = penguin['body_mass_g'].fillna(penguin['body_mass_g'].mode()[0])

In [35]:
penguin.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

<hr>
<br>
<h1>Correlation Data Analysis</h1>

<h3>Testing Correlation using Pearson R</h3>
<p><b>Pearson R</b> can test correlation betweeen <b>Numerical D</b></p>

In [36]:
penguin['bill_length_mm'].corr(penguin['body_mass_g'])

np.float64(0.5957197979602955)

In [37]:
penguin['bill_length_mm'].corr(penguin['year'])

np.float64(0.054371448089894386)

<h1>1. What species of penguin are present and how many of each are there?</h1>

In [38]:
penguin['species'].value_counts()

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

<h3>insight: Adelie has the most samples, while Chinstrap has the fewest</h3>

<h1>2. What islands do the penguins live on and how many penguins are on each island?</h1>

In [39]:
penguin['island'].value_counts()

island
Biscoe       168
Dream        124
Torgersen     52
Name: count, dtype: int64

<h3>Insight: Biscoe has the largest number of recorder penguins</h3>

<h1>3. What is the average bill length for each species</h1>

In [40]:
penguin.groupby('species')['bill_length_mm'].mean()

species
Adelie       38.806579
Chinstrap    48.833824
Gentoo       47.453226
Name: bill_length_mm, dtype: float64

<h10>Insight: Chinstrap have the longest bills, while Adelie have the shortest</h10>

<h1>4. What is the average flipper lenth for each species?</h1>

In [41]:
penguin.groupby('species')['flipper_length_mm'].mean()

species
Adelie       189.953947
Chinstrap    195.823529
Gentoo       216.967742
Name: flipper_length_mm, dtype: float64

<h3>Insight: Gentoo have the longest flipper that matches its large size, while Adelie are smaller and shorter flippers</h3>

<h1>5. What is the average body mass of penguins by species?</h1>

In [42]:
penguin.groupby('species')['body_mass_g'].mean()

species
Adelie       3701.315789
Chinstrap    3733.088235
Gentoo       5065.725806
Name: body_mass_g, dtype: float64

<h3>Insight: Gentoo are the heaviest, while Adelie are the lightest</h3>

<h1>6. What is the average flipper length for female vs male penguins?</h1>

In [43]:
penguin.groupby('sex')['flipper_length_mm'].mean()

sex
female    197.363636
male      204.067039
Name: flipper_length_mm, dtype: float64

<h3> <b> Insight:</b> male penguins have slightly longer flippers than females</h3>

<h1>7. Which island has the heaviest penguins on average?</h1>

In [44]:
penguin.groupby('island')['body_mass_g'].mean()

island
Biscoe       4710.565476
Dream        3712.903226
Torgersen    3708.173077
Name: body_mass_g, dtype: float64

<h3>Insight: penguins from Biscoe are the heavist because Gentoo penguins(largest species) are mostly found on Biscoe Island</h3>

<h1>8. What is the average body mass of penguins by sex?</h1>

In [45]:
penguin.groupby('sex')['body_mass_g'].mean()

sex
female    3862.272727
male      4510.195531
Name: body_mass_g, dtype: float64

<h3>Insights: Male penguins are usually heavier than females across all species</h3>

<h1>9. What is the distribution of penguin counts across years and species?</h1>

In [46]:
penguin.groupby(['year','species']).size()

year  species
2007  Adelie       50
      Chinstrap    26
      Gentoo       34
2008  Adelie       50
      Chinstrap    18
      Gentoo       46
2009  Adelie       52
      Chinstrap    24
      Gentoo       44
dtype: int64

<h3>Insights: This shows how many penguins of each species were recorded per year.</h3>

<h1>10. What is the average body mass of all penguins in the dataset?</h1>

In [47]:
penguin['body_mass_g'].mean()

np.float64(4199.418604651163)

<h3>Insights: This shows the overall mean weight of penguins,combining all species, sexes and islands</h3>

<h1>11. What is the average bill length of all penguins combined?</h1>

In [48]:
penguin['bill_length_mm'].mean()

np.float64(43.90552325581395)

<h3>Insights: this shows the overall mean bill length across the dataset</h3>

<h1>12. What is the average body mass by year?</h1>

In [49]:
penguin.groupby('year')['body_mass_g'].mean()

year
2007    4121.590909
2008    4266.666667
2009    4206.875000
Name: body_mass_g, dtype: float64

<h3>Insights: This shows if penguins weight have changed across the study years (2007-2009)</h3>